<!--
<div layout="column">
  <div id="first" style="background-color:blue; min-height=50vh;"flex="50">First item in column</div>
  <div id="second" style="background-color:red; min-height=50vh;" flex>Second item in column</div>
</div>-->

<md-content layout="column" class="content-wrapper md-padding" flex layout-column id="content" style="background-color:red;">
        <div flex>
          <h2>Home Content</h2>
  
          <ul>
            <li>Page Content goes here...</li>
            <li>and here...</li>
            <li>and here...</li>
          </ul>
        </div>
      </md-content>