<div id=homescreen>
    <div id="centreLogin">
        <h1>Contract Law</h1>
        <h2>Welcome to the Monash Uni Game App</h2>
        <md-input-container>
            <label>Your Name: </label>
            <input ng-model="newScene.title" type="text" required>
        </md-input-container><br>
        <md-button class="md-primary md-raised" ng-click="login()">Start</md-button>
        <md-button class="md-warn md-raised" ng-click="studyMaterial()">Open Study Material</md-button>
    </div>
</div>